<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bem-Vindo ao Suapi</title>
    <link rel="stylesheet" href="/public/stylesheets/home_suap.css">
  </head>
  <body>

    <div class="home">

      <div class="header">
        <a href="http://localhost:3000/novo_registro">Professor</a>
        <a href="http://localhost:3000/historico_aluno">Aluno</a>
        <a href="http://localhost:3000/historico_aluno">Calendário</a>
      </div>

      <div class="msgprincipal">
        <h1>Bem-Vindo ao SUAPI</h1>
      </div>

    </div>

  </body>
</html>
